@use 'variables' as vars;
@use 'mixins' as mixins;
@use 'base';
@use 'header';
@use 'sections';
@use 'media';
@use 'footer';
@use "navigation";
@use "skills";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
